* {
  margin: 0;
  padding: 0;
  font-family: "outfit";
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");
@font-face {
  font-family: "outFit";
  src: url(/Font-Face/OutFit/Outfit-VariableFont_wght.ttf);
}
#main-section {
  height: 200vh;
  color: #edf7f6;
  display: grid;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    padding: 0 0.5em;
    margin-top: -45em;
    
  }
  .auto-type{
    color: chartreuse;
  }
}
body {
  background-color: #4c4b63;
}
.section {
  height: 100vh;
  display: grid;
  place-content: center;
  margin: 0 0.5em;
  grid-template-columns: 350px;
  grid-template-rows: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-items: stretch;
  align-items: stretch;
  .main-div {
    padding: 1em;
    margin-bottom: 0.5em;
    color: #777;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .image-section {
      height: 172px;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .main-section__title {
      font-size: 1.5em;
      font-weight: 400;

      text-transform: capitalize;
      margin: 0.8em 0 0.6em;
    }
    .main-section__info {
      font-size: 1.1em;
      font-weight: 400;
      margin-bottom: 0.3em;
    }
    .btn {
      background-color: black;
      color: whitesmoke;
      border: none;
      text-align: start;
      border-bottom: 4px solid saddlebrown;
      outline: none;
      font-weight: 300;
      font-size: 1rem;
      height: 30px;
      width: 200px;
      margin-top: 1.5em;
      font-weight: 450;
      letter-spacing: 2.5px;
      &:hover,
      &:focus {
        transition: 300ms all linear;
        color: white;

        padding-left: 0.5em;
        background-color: crimson;
      }
    }
  }
}
::-webkit-scrollbar{
  width: 0;
}
@media screen and (min-width: 756px) {
  body {
    background-color: #4c4b63;
  }
  #main-section {
    height: 100vh;
    h1 {
      font-size: 3.2rem;
      margin: 0;
    }
  }
  .section {
    height: 180vh;
    display: grid;
    place-content: center;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 450px 450px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-items: stretch;
    align-items: stretch;
    .main-div {
      padding: 0.9em;
      
      box-shadow: 3px 2px 15px black;
      margin: 0.5em;
    .main-section__title{
      font-weight: 400;
      color: white;
      margin: 0.4em 0;
    }
    }
  }

}
