* {
  margin: 0;
  padding: 0;
  font-family: "outfit";
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');
@font-face {
  font-family: "outFit";
  src: url(/Font-Face/OutFit/Outfit-VariableFont_wght.ttf);
}
#main-section {
  height: 200vh;
  color: #edf7f6;
  display: grid;
  justify-content: center;
  align-items: center;
 h1{
  text-align: center;
  padding: 0 0.5em;
  margin-top: -45em;
 }
  span{
    color: white;
  }
}
body {
  background-color: #4c4b63;
}
.section {
  height: 100vh;
  background-color: #4c4b63;
  display: grid;
  place-content: center;
  margin: 0 0.5em;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  justify-items: stretch;
  align-items: stretch;
  .main-div {
    padding: 1em;
    margin-bottom: 0.5em;

    background-color: #edf7f6;
    display: flex;
    flex-direction: column;
    .image-section {
      img {
        width: 100%;
      }
    }
    .main-section__title {
      font-size: 2em;
      font-weight: 400;
      opacity: 0.8;
      text-transform: capitalize;
      margin: 0.4em 0;
    }
    .main-section__info {
      font-size: 1.2em;
      font-weight: 300;
      opacity: 0.8;
      margin-bottom: 0.3em;
    }
    .btn {
      background-color: #edf7f6;
      color: black;
      border: none;
      text-align: start;
      border-bottom: 4px solid saddlebrown;
      outline: none;
      font-weight: 300;
      font-size: 1rem;
      height: 30px;
      width: 200px;

      &:hover,
      &:focus {
        transition: 300ms all linear;
        color: white;

        padding-left: 0.5em;
        background-color: crimson;
      }
    }
  }
}
@media screen and (min-width: 756px) {
  body {
    background-color: #4c4b63;
  }
  #main-section {
    height: 100vh;
    h1{
      margin: 0;
    }
  }
  .section {
    display: grid;
    place-content: center;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 450px 450px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    justify-items: stretch;
    align-items: stretch;
    .main-div {
      padding: 0.9em;
      box-shadow: 3px 2px 15px white;
      margin: 0.5em;
    }
  }
}
