main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
.section-left {
  width: 50%;
}
.section-right {
  width: 50%;
}
.score {
  width: 250px;
  font-size: 3.5rem;
  font-family: "Courier New", Courier, monospace;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
}
button {
  padding: 0.2em;
  font-size: 1.2rem;
  border: none;
}
.btn-group {
  margin: 2vh 0;
}
.btn {
  color: white;
  background-color: black;
  height: 55px;
  width: 200px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.win {
  position: absolute;
  top: 20%;
  left: 41.5%;
  font-family: "Courier New", Courier, monospace;
  font-size: 3.5rem;
}
.btn-reset {
  color: white;
  background-color: black;
  height: 55px;
  width: 200px;
  position: absolute;
  top: 1%;
  right: 1%;
}
.btn-group {
  position: absolute;
  top: 80%;
  left: 30%;
}
